# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.AI_DS_AlgoCollection.iml
# Editor-based HTTP Client requests
/httpRequests/
